{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "printWidth": 100,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^(^react$|@react|react)", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["**/package.json"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": ["**/.mdx"],
      "options": {
        "proseWrap": "preserve",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
